<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/index_style.css">
    <link rel="stylesheet" href="/style.css">

    <title>My Hospital</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">My Hospital</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/patients">Patients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cards">Cards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/procedures">Procedures</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="Showing-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#Showing-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#Showing-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#Showing-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active c-item">
            <img src="/Img/Cor1.jpg" class="d-block w-100 c-img" alt="Slide 1">

            <div class="carousel-caption top-0 mt-4">
                <p class="mt-5 fs-3 text-uppercase"> Our Procedures</p>
                <h1 class="display-1 fw-bolder text-capitalize"> Functional bed in procedure room </h1>
                <button class="btn btn-primary px-4 py-2 fs-5 mt-5">Check All Procedures </button>
            </div>
        </div>
        <div class="carousel-item c-item">
            <img src="/Img/Cor2.jpg" class="d-block w-100 c-img" alt="Slide 2">
            <div class="carousel-caption top-0 mt-4">
                <p class="text-uppercase fs-3 mt-5">Our Procedures</p>
                <p class="display-1 fw-bolder text-capitalize">MRI scanner</p>
                <button class="btn btn-primary px-4 py-2 fs-5 mt-5" data-bs-toggle="modal"
                        data-bs-target="#booking-modal">Check All Procedures</button>
            </div>
        </div>
        <div class="carousel-item c-item">
            <img src="/Img/Cor3.jpg" class="d-block w-100 c-img" alt="Slide 3">
            <div class="carousel-caption top-0 mt-4">
                <p class="text-uppercase fs-3 mt-5">Our Procedures</p>
                <p class="display-1 fw-bolder text-capitalize">Psychological office.</p>
                <button class="btn btn-primary px-4 py-2 fs-5 mt-5" data-bs-toggle="modal"
                        data-bs-target="#booking-modal">Check All Procedures</button>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#Showing-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#Showing-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="pt-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Patients</h5>
                        <p class="card-text">Manage patients in our hospital</p>
                        <a href="/patients" class="btn btn-primary">Go to Patients</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Cards</h5>
                        <p class="card-text">View and manage medical cards</p>
                        <a href="/cards" class="btn btn-primary">Go to Cards</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Procedures</h5>
                        <p class="card-text">Manage medical procedures</p>
                        <a href="/procedures" class="btn btn-primary">Go to Procedures</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>



